

#template {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    
}


.box1 {
    background: #eee;
    grid-column:1;
    grid-row:1/7;
    
}


.box2 {
    background: #eee;
    grid-column:1;
    grid-row:7/10;

    
}

/* opt */
.box3 {
    /* display: none; */
    background: #eee;
}

    

.box4 {
    background: #eee;
    grid-row:1/7;
    grid-column:2;
    display : grid;
    grid-template-columns: 200px 2fr 2fr;

    grid-gap: 2em;
    
}

.box5 {
    background: #eee;
    /* 4 ==>> 위에 길이 조정 14==>밑에 길이 조정 */
    grid-row:7/10;  
    
}

/* display 의 속성값이 flex 면 block 의 요소를 해제 할수 있다.  */
.orderList4 {
    
    display: flex; 
    grid-column: 1;
    padding-left: 64px;
    }


.orderCount {
    
    padding:20px;
    padding-left: 14px;
  
}


.orderPrice {
    
    
    padding:20px;
    padding-left: 0;
   
  

}


.totalPrice{

    padding-left: 25px;
}

