

#template {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    
}


.box1 {
    background: #eee;
    grid-column:1;
    grid-row:1/7;
    
}


.box2 {
    background: #eee;
    grid-column:1;
    grid-row:7/10;

    
}

/* opt */
.box3 {
    /* display: none; */
    background: #eee;
}

    

.box4 {
    background: #eee;
    grid-row:1/7;
    grid-column:2;
    display : grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    
}

.box5 {
    background: #eee;
    /* 4 ==>> 위에 길이 조정 14==>밑에 길이 조정 */
    grid-row:7/10;  
    
}

.box4 > div {
    border: 2px;
}



.orderList4 {
    grid-column:1;
    grid-row:2/2;



}